// color-variable

$base-framework-primary: #5f30ff;
$base-framework-secondary: #ed239f;
$base-framework-tertiary: #1345e6;
$brand-ui-white: white;

// dimensions

$padding: 20px;
$padding-small: 10px;
$padding-x-small: 5px;
$padding-large: 40px;

//fonts

$base-font-family: "eurostile", sans-serif;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-size-x-large: 24px;
